{% block content %}
<form action="/admin/settings/profile/password/edit" method="post">
    <p>Update your password here.</p>
    <div class="row mb-3">
        <label for="password" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your current password">
        </div>
    </div>

    <div class="row mb-3">
        <label for="password" class="col-sm-3 col-form-label">New Password</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input value="" type="text" class="form-control" name="new-password" id="new-password" placeholder="Enter new password">
                <button id="js-generate-pass">
                    <i class="bi bi-arrow-clockwise"></i> regenerate password
                </button>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block js %}
<script>
    window.addEventListener('DOMContentLoaded', event => {
        function generatePassword() {
            var chars = "0123456789abcdefghijklmnopqrstuvwxyz!@#$%^&*()ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            var passwordLength = 12;
            var password = "";
            for (var i = 0; i <= passwordLength; i++) {
                var randomNumber = Math.floor(Math.random() * chars.length);
                password += chars.substring(randomNumber, randomNumber +1);
            }
            return password;
        }
        var buttonElement = document.body.querySelector("button#js-generate-pass");
        buttonElement.addEventListener("click", event => {
            event.preventDefault();
            document.body.querySelector("input#new-password").value = generatePassword();
        });
    });
</script>
{% endblock %}