{% extends "frontpage.html" %}

{% block header %}
<h1 class="home-title title-1 text-dark">
    <strong>Ukhu</strong>
</h1>
<hr class="mt-4 mb-5 pb-2">
{% endblock header %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <blockquote class="blockquote">
            <p>
                <strong>Ukhu</strong> is an opinionated open source web framework, focused on <mark>ease of use, configurable and charged</mark> with ready to go basic functionality.
            </p>
            <p>
                Quickly design and customize your web projects, featuring Routing, Middlewares, DI, Use Cases, DDD oriented, TDD friendly, prebuilt with front page and back office addons and based on powerful standards.
            </p>
        </blockquote>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
            <a href="/about" type="button" class="btn btn-secondary btn-lg px-4 me-md-2">Call To Action</a>
            <a href="/about" type="button" class="btn btn-outline-secondary btn-lg px-4">Explore</a>
        </div>
    </div>
    <div class="col-lg-6 text-center mt-4">
        <span class="display-4">
            <strong>COMMONS</strong><br>initiative
        </span>
    </div>
</div>
{% endblock content %}
